# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually contains a build/ and dist/ folder
*.manifest
*.spec

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# macOS network shares
.AppleSharePDS

#virtual environments folder
.venv

data/
registry/
registry_quick/
ckpts/