build
dist
*.ipynb
*/__pycache__
__pycache__/*



*.txt
*.pickle
*.sh
*.md
*.pt
*.pyc
*.csv
*.json
*.zip
*.in


error/
graphFair_subgraph/
output/
examples
models_save
csv
csv_given




sample_t.py
sample_test.py
test_german.py
csv_std_test.py
csv_test.py
dataloading_test.ipynb
dataloading.py
pipeline.py
setup.cfg
requirements.txt.DS_Store
